
h1{
			text-align: center;
}
 div{
	margin: 3px;
	background-color: yellow;
    }
    p{
    	margin: 0px;
    }
	 

		.row{
			width: 100%;
		    }

		    .head{
			background-color: grey;
			border:1px solid brown;
			width: 100px;
			height:20px;
			position: relative;
			top: 1px;
			left:290px;

		}

		    @media (min-width: 992px) {
			.col-lg{
				float: left;
				border: 1px solid red;
			       }   
			.col-lg{
				width: 32%;
			}
			.head{
			background-color: cyan;
			border:1px solid brown;
			width: 100px;
			height:20px;
			position: relative;
			top: 1px;
			left:75%;

		}
		}

		@media (min-width: 768px) and (max-width: 991px) {
			.col-md{
				float: left;
				border: 1px solid red;
			       }   
			.col-md{
				width: 40%;
			}
			.head{
			background-color: Pink;
			border:1px solid brown;
			width: 100px;
			height:20px;
			position: relative;
			top: 1px;
			left:72%;

		}
		}

		@media (max-width: 767px) {
			.col-small{
				float: left;
				border: 1px solid red;

			       }   
			.col-small{
				width: 100%;

			}
			.head{
			background-color:lime;
			border:1px solid brown;
			width: 100px;
			height:20px;
			position: relative;
			top: 1px;
			left:83%;

		}
		}

		
			

		




